.smooth-border-left-to-right {
  border: 2px solid black !important;
  width: 15%;
}

.react-form-wizard {
  height: 100%;
}

.react-form-wizard .wizard-navigation {
  height: 100%;
}

.react-form-wizard .wizard-navigation .wizard-tab-content {
  flex-basis: 80%;
}

.react-form-wizard .wizard-header {
  display: none;
}

.react-form-wizard.vertical .wizard-card-footer {
  padding-top: 0px;
  width: fit-content;
  float: right;
  /* margin-right: 2.5rem; */
}

.react-form-wizard.vertical .wizard-card-footer .wizard-btn {
  background-color: rgb(174, 140, 241);
}

.react-form-wizard.vertical .wizard-card-footer .wizard-btn:hover {
  background-color: rgb(152, 108, 241);
}

.react-form-wizard.vertical .wizard-card-footer .wizard-footer-left {
  margin-right: 20px;
}

.react-form-wizard .wizard-navigation > ul {
  padding: 20px;
  background: rgb(174, 140, 241);
  border-radius: 0.5rem;
  flex-basis: 20%;
  text-align: left;
}

.react-form-wizard .wizard-navigation > ul span {
  color: rgb(231, 228, 228) !important;
}
.react-form-wizard .wizard-navigation > ul span.active {
  color: #000 !important;
}

.react-form-wizard .wizard-navigation > ul li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
}

.react-form-wizard .wizard-navigation > ul li a span {
  margin-top: 0px !important;
  flex-grow: 1;
}

.react-form-wizard .wizard-navigation > ul li a .wizard-icon-circle {
  width: 2rem;
  height: 2rem;
  background-color: #fff !important;
}

.react-form-wizard
  .wizard-navigation
  > ul
  li
  a
  .wizard-icon-circle.checked
  .wizard-icon-container {
  background-color: #000 !important;
}

.react-form-wizard
  .wizard-navigation
  > ul
  li
  a
  .wizard-icon-circle.checked
  + span {
  color: #000 !important;
}
